{% extends 'base.html' %}
{% load static %}
<!-- 
{% block css %}
    <link rel="stylesheet" href="{% static 'css/item_list.css' %}">
{% endblock css %} -->

{% block content %}
    <div class="container">
        <div class="row">
            {% for item in items %}
                <div class="col-md-3 col-6 item_list__card">
                    <div class="card">
                        {% if item.image %}
                            <a href="#">
                                <img src="{{ item.image.url }}" width="100%" height="300px" alt="...">
                            </a>
                            <div class="card-body">
                                <h5 class="card-title">{{ item.title }}</h5>
                                <a href="{% url 'items:show' item.pk %}" class="btn btn-outline-primary">보러가기</a>
                            </div>
                        {% else %}
                            <div class="card-body">
                                <h5 class="card-title">{{ item.title }}</h5>
                                <a href="{% url 'items:show' item.pk %}" class="btn btn-outline-primary">보러가기</a>
                            </div>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock content %}